/* Importez les styles de la page d'accueil pour le header */
@import './homepage.css';

/* Styles spécifiques au forum (si nécessaire) */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #121212;
  color: #e0c097;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.logo1 img {
  transition: transform 0.3s ease-in-out; /* Ajoute une transition pour une animation fluide */
}

.logo1 img:hover {
  transform: scale(1.1); /* Agrandit légèrement le logo au survol */
}

.message-box {
  width: 75vw;
  margin: 1rem auto;
  padding: 1.2rem;
  background-color: #1e1e1e;
  color: #e0c097;
  border: 1px solid #e0c097;
  border-radius: 8px;
  box-sizing: border-box;
}

.message-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.message-content {
  font-size: 1rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

.message-actions {
  text-align: right;
}

.quoted-text {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  border-left: 4px solid #ccc;
  background-color: #2e2e2e;
  color: #aaa;
  font-style: italic;
  white-space: pre-wrap;
}

.main-content h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  color: #e0c097;
}

.message-actions .delete-button {
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  color: #e57373;
  cursor: pointer;
  font-size: 0.9rem;
}
.message-actions .delete-button:hover {
  color: red;
}

