/* Palette RDR2 : Noir - Rouge profond - Doré - Beige - Gris acier */
/**/
@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/police.ttf') format('truetype'); /* Chemin vers la police */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', cursive; /* Utilisation de la police personnalisée */
    background-color: #121212;
    color: #e0c097;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column; /* Centrer les éléments verticalement */
  }
  
  /* Conteneur principal de la page */
  .home {
    background-color: #121212; /* Fond sombre */
    padding: 40px;
    width: 90%;
    max-width: 600px; /* Largeur maximale pour un bon rendu */
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Image centrée en haut */
  img {
    width: 100%; /* Prend toute la largeur du conteneur */
    max-width: 1000px; /* Taille maximale de l'image */
    margin-bottom: 30px; /* Espacement entre l'image et le texte */
    border-radius: 10px;
    object-fit: cover; /* Pour garder les proportions de l'image */
  }
  
  /* Titre principal */
  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-family: 'CustomFont', cursive; /* Police Red Dead */
    letter-spacing: 2px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 4px; /* Espacement très réduit entre les boutons */
    justify-content: center;
    align-items: center;
  }
  
  .btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 300px; /* Plus large */
    height: 100px; /* Plus haut */
  
    background-image: url('./assets/btn.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
    text-decoration: none; /* Pas de soulignement */
    color: white; /* Texte blanc */
    font-family: 'CustomFont', cursive;
    font-size: 1.8rem; /* Texte un peu plus gros */
    text-transform: uppercase;
    font-weight: bold;
  
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;
  
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .btn-link:hover {
    opacity: 0.8;
    transform: scale(1.05);
    color: white; /* Maintenir la couleur blanche */
  }
  
  .btn-link:hover {
    opacity: 0.8;
    transform: scale(1.05);
    color: white; /* Force la couleur au survol pour éviter le bleu */
  }